<?php
    $host = "localhost";
    $user = "root";
    $pass = "{{ mysql_root_password }}";
    $dbase= "{{ mysql_db_name }}";
    $connection = @mysql_connect($host, $user, $pass);
    if ($connection) {
        mysql_select_db($dbase);
    } else {
        exit("Connection error");
    }
?>
