<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<!-- 
This file is just a dummy and distributed with Ansible.
Copyright (c) 2013 Fabian Affolter <fabian@affolter-engineering.ch>
This file is licensed under BSD.
-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Webshop {{ company_name }} | Webserver is up and running...</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Webshop">
    <meta name="author" content="{{ author_name }}">
</head>
<body>
    <center>
    <h3>The web server is running on {{ ansible_distribution }} {{ ansible_distribution_version }}.</h3><br />
    <p>This server is not hosting any content at the moment.</p>
    <center><small>&copy; <a href="#">{{ company_name }}</a> {{ year }}</small></center>
    </center>
</body>
</html>
